<div class="card bg-base-200 shadow-xl w-full">
  <div class="card-body max-w-[100vw] overflow-x-scroll">
    <h2 class="card-title">Past Registrations</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Full Name</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover">
          <td>November 1, 2024</td>
          <td>November 3, 2024</td>
          <td>Bob Brown</td>
          <td>Yes</td>
          <td><button class="btn btn-primary">Deactivate</button></td>
        </tr>
        <tr class="hover">
          <td>October 31, 2024</td>
          <td>November 1, 2024</td>
          <td>Bob Brown</td>
          <td>No</td>
          <td><button class="btn" disabled>Deactivate</button></td>
        </tr>
        <tr class="hover">
          <td>October 10, 2024</td>
          <td>October 11, 2024</td>
          <td>Alice Armstrong</td>
          <td>No</td>
          <td><button class="btn" disabled>Deactivate</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
