<div class="card bg-base-200 shadow-xl w-full">
  <div class="card-body">
    <h2 class="card-title">Rules</h2>
    <strong>2.15. Visiting Parking</strong>
    <ol class="list-decimal ml-4">
      <li>
        Owners, tenants and occupants are not permitted to park in the
        designated visitor parking stalls (marked by “V”); these are for
        visitors only.
      </li>
      <li>
        A visitor is permitted to park their vehicle in visitor parking no more
        than:
        <ol class="list-[lower-alpha] ml-8">
          <li>twenty four (24) consecutive hours at any one time; or</li>
          <li>on 2 consecutive days; or</li>
          <li>
            on any 8 days in a calendar month. If a visitor wants to stay longer
            and/or across consecutive days, the owner must submit a request for
            approval.
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
